<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="WorkFlow.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
</configSections>
<appSettings><add key="WorkFlow.SVC.WorkFlow" value="http://localhost/SmartPro/WorkFlow.asmx"/></appSettings><applicationSettings>
        <WorkFlow.Properties.Settings>
            <setting name="WorkFlow_SVC_WorkFlow" serializeAs="String">
                <value>http://localhost/SmartPro/WorkFlow.asmx</value>
            </setting>
        </WorkFlow.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
